@font-face {
    font-family: "fira_sanslight";
    font-style: normal;
    font-weight: normal;

    src: url("../fonts/firasans-light.eot");
    src: url("../fonts/firasans-light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/firasans-light.woff") format("woff"),
    url("../fonts/firasans-light.ttf") format("truetype");
}

@font-face {
    font-family: "fira_sansbook";
    font-style: normal;
    font-weight: normal;

    src: url("../fonts/firasans-book.eot");
    src: url("../fonts/firasans-book.eot?#iefix") format("embedded-opentype"),
    url("../fonts/firasans-book.woff") format("woff"),
    url("../fonts/firasans-book.ttf") format("truetype");
}

html,
body,
div,
p,
h1,
ul,
li,
a,
h1,
h2 {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    min-width: 320px;

    font-size: 10px;

    color: #4a545d;
    background: url("../img/bg.png") repeat left top white;
}

h1 {
    font-size: 2.7em;
}

h2 {
    font-size: 2.1em;
}

li {
    list-style-type: none;
}

.clearfix:after,
.clearfix::after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;

    content: "";
}

.line {
    width: 100%;
    height: 3px;

    background: -webkit-gradient(linear, left top, right top, from(#eff3f7), color-stop(#1d667a), to(#eff3f7));
    background: -webkit-linear-gradient(left, #eff3f7, #1d667a, #eff3f7);
    background:    -moz-linear-gradient(left, #eff3f7, #1d667a, #eff3f7);
    background:      -o-linear-gradient(left, #eff3f7, #1d667a, #eff3f7);
    background:         linear-gradient(to right, #eff3f7, #1d667a, #eff3f7);
    background-color: #eff3f7;
}

/* .half-line for lte IE 9 */
.half-line {
    float: left;
    width: 50%;
    height: 100%;
}

.half-line.one {
    filter: progid:dximagetransform.Microsoft.gradient(startColorstr="#EFF3F7", endColorstr="#1d667a", GradientType=1);
}

.half-line.two {
    filter: progid:dximagetransform.Microsoft.gradient(startColorstr="#1d667a", endColorstr="#EFF3F7", GradientType=1);
}

.layout {
    height: 100%;
    max-width: 1200px;
    padding: 0 100px;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    height: auto;
    min-height: 100%;
}

#header {
    width: 100%;
    height: 116px;

    background: #eff3f7;
}

#header .left {
    position: relative;

    float: left;
    width: 50%;
    height: 100%;
}

#header .right {
    position: relative;

    float: right;
    width: 50%;
    height: 100%;
}

.logo {
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;

    width: 245px;
    height: 57px;
    margin: auto;

    background: url("../img/logo.png") no-repeat center center #eff3f7;
}

.socials {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;

    height: 47px;
    margin: auto;
}


.socials > li {
    float: left;
    width: 47px;
    height: 47px;
    margin: 0 12px;

    background-color: blue;
}

.socials > li:last-child {
    margin-right: 0;
}

.socials > li > a {
    display: block;
    width: 100%;
    height: 100%;
}

#main {
    padding: 40px 0 120px;

    font-family: fira_sansbook, sans-serif;
}

#sidebar {
	width: 250px;
}

#sidebar .nav {
    width: 100%;
    background: #eff3f7; 
	border-radius: 3px;
    font-size: 2.1em;
}

#sidebar .nav li:first-child a {
	border-radius: 3px 3px 0 0;
}

#sidebar .nav li:last-child a {
	border-radius: 0 0 3px 3px;
}

#sidebar .nav a {
	display: block;
	padding: 28px;
	text-decoration: none;
	color: #959aa8;
}


#sidebar .nav a:hover  {
	color: #3ba8c0;
}

#sidebar .nav a:active,
#sidebar .nav .active a {
	color: white;
}

#sidebar .nav .active a {
	background: #3ba8c0;
}

.contacts h2 {
    font-weight: normal;
}





#footer {
    width: 100%;
    height: 81px;
    margin-top: -81px;

    font-family: fira_sanslight, sans-serif;

    background: #eff3f7;
}

#footer .layout {
    position: relative;

    display: table;
    height: 78px;
}

.login {
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 15%;

    width: 20px;
    height: 32px;
    margin: auto;

    background: blue;
}

.copyright {
    display: table-cell;
    width: 100%;
    height: 100%;
    padding: 0 16.5625%;

    font-size: 1.3em;

    text-align: center;
    vertical-align: middle;
}

@media only screen and (max-width: 768px) and (min-width: 321px) {
    #header {
        height: 115px;
    }

    .line {
        height: 2px;
    }

    .layout {
        padding: 0 35px;
    }

    .logo {
        width: 217px;
        height: 51px;

        background: url("../img/logo-pl.png") no-repeat center center #eff3f7;
    }

    #footer {
        height: 55px;
        margin-top: -55px;
    }

    #footer .layout {
        height: 53px;
    }

    .login {
        left: 10%;
    }

    .copyright {
        font-size: 1.3em;
    }
}
